* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: sans-serif;
    }

    /* Navigation Container */
    .nav {
      
      padding: 10px;
    }

    .nav ul {
      list-style: none;
      display: flex;
    }

    .nav li {
      position: relative;
    }

    .nav a {
      display: block;
      padding: 12px 16px;
      color: black;
      text-decoration: none;
    }

    .nav a:hover {
      background-color:white;
      border-radius: 20px;
    }

    /* Dropdown Content */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color:yellow;
      min-width: 160px;
      top: 100%;
      left: 0;
      z-index: 1;
    }

    .dropdown-content a {
      padding: 10px 14px;
      display: block;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
    .D{
        margin:30px;
    }
    ul{
        border: 1px solid orange;
        border-radius: 30px;
        background: orange;
        margin-left: 220px;
    }
    a{
        font-size: 30px;
    }
    a:hover{
    border: 14px solid white;
    background: white;
    color: #217dda;
}
    
  
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

body{
    background:rgb(179, 172, 160);
}
/*js.html*/

:root {
  --primary-color: #42200b;
  --secondary-color: #ffc135;
  --tertiary-color: #df1c1c;
  --text-dark: #212529;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font-1: "Alfa Slab One", serif;
  --header-font-2: "Bebas Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--header-font-1);
  color: var(--primary-color);
  text-align: center;
  line-height: 3.75rem;
  text-shadow: 2px 2px var(--secondary-color);
}

.section__description {
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--tertiary-color);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo img {
  max-width: 150px;
}

.nav__logo-dark {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 600;
  white-space: nowrap;
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 600px;
  margin-inline: auto;
}

.header__content h2 {
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font-2);
  color: var(--primary-color);
  border: 2px dashed var(--primary-color);
  text-align: center;
}

.header__content h1 {
  font-size: 4.5rem;
  font-weight: 500;
  font-family: var(--header-font-1);
  color: var(--primary-color);
  line-height: 3.5rem;
  text-align: center;
  text-shadow: 2px 2px var(--white);
}

.header__content h1 span {
  font-size: 3rem;
}

.banner__container {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 200px;
}

.banner__card {
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.banner__card p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.banner__card h4 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

.order__container h3 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--header-font-2);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.order__container .section__header {
  margin-bottom: 1rem;
}

.order__container .section__description {
  margin-bottom: 2rem;
  text-align: center;
}

.order__grid {
  display: grid;
  gap: 2rem 1rem;
}

.order__card {
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s;
}
/*---------------menu img-----------------*/

.order__card:hover {
  box-shadow: 5px 5px 30px white;
  background: white;
}

.order__card img {
  max-width: 250px;
  margin-inline: auto;
  margin-bottom: 2rem;
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
}

.order__card h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.order__card p {
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.event__content {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.event__details {
  text-align: center;
}

.event__details h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--header-font-2);
  color: var(--text-dark);
}

.event__details .section__header {
  margin-bottom: 1rem;
}

.reservation {
  position: relative;
  isolation: isolate;
}

.reservation__container h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--header-font-2);
  color: var(--text-dark);
  text-align: center;
}

.reservation__container form {
  max-width: 400px;
  margin-inline: auto;
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.reservation__container input {
  padding: 0.75rem 1rem;
  outline: none;
  border: 1px solid var(--text-dark);
  font-size: 1rem;
  color: var(--text-dark);
}

.reservation__container input::placeholder {
  color: var(--text-dark);
}

.reservation img {
  display: none;
}

.footer {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__logo img {
  max-width: 250px;
}

.footer__content {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.footer__content p {
  font-weight: 5500;
  color: var(--blue);
  line-height: 1.75rem;
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__links li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: var(--black);
}

.footer__links li span {
  font-size: 1.25rem;
}

.footer__socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--black);
}

.footer__socials a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--black);
  text-align: center;
}

@media (width > 540px) {
  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__card:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .order__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {

  /*---------------------------------------------Footer-----------------------------------------------------------*/
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 250px;
  }

  .nav__logo-dark {
    display: flex;
  }

  .nav__logo-white {
    display: none;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
    z-index: 1;
  }

  .nav__links a {
    color: var(--primary-color);
  }

  .nav__links a:hover {
    color: var(--tertiary-color);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content h2 {
    margin-inline-start: unset;
  }

.header__content h1 {
    text-align: left;
  }

  .banner__card {
    padding: 1.5rem;
  }

  .banner__card:nth-child(1) {
    grid-area: 1/1/3/2;
  }

  .order__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .event__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .event__image {
    grid-area: 1/2/2/3;
  }

  .event__details,
  .event__details .section__header {
    text-align: left;
  }

  .reservation__container form {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }

  .reservation img {
    display: flex;
    position: absolute;
    z-index: -1;
  }

  .reservation__bg-1 {
    left: 0;
    top: 0;
    width: clamp(100px, 25vw, 350px);
  }

  .reservation__bg-2 {
    right: 0;
    bottom: 0;
    width: clamp(100px, 20vw, 250px);
  }

  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    color: #212529;
  }

  .footer__links li {
    justify-content: flex-end;
  }

  .footer__socials {
    justify-content: flex-end;
  }
}

@media (width > 1024px) {
  .order__grid {
    gap: 2rem;
  }
}
h2{
    background: #ffc135;
}
a{
    margin: 20px;
}

.header__content{
    margin: 30px;
}
/*Code coffee*/
.code{
    background-color: wheat;
    width: 50%;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
}
.h1{
    font-size: 100px;
    text-align: center;
    color: #ffc135;
    margin: 180px;
}
/*Code coffee*/



/*----------------------------------------------ចលនា---------------------------------------------*/
/* Animation for burger image */
.header__image img {
  animation: floatBurger 3s ease-in-out infinite;
}

@keyframes floatBurger {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

/* Animation for juice image */
.hero-img img {
  animation: pulseJuice 2s ease-in-out infinite;
}

@keyframes pulseJuice {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

/*----------------------------------------------ចលនា---------------------------------------------*/
/*---------------------------------------------menu page------------------------------------------------*/
/*---------------------------------------------menu page------------------------------------------------*/
/*---------------------------------------------menu page------------------------------------------------*/
/*---------------------------------------------menu page------------------------------------------------*/
 /*-------------------body menu page-----------------*/
 
h4{
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:wheat;
}

header {
    text-align: center;
    padding: 2rem;
    
    color: #fff;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

.image{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.img{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;

}

.img:hover {
    transform: translateY(-5px);
}

.img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
}

.download-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.download-btn:hover {
    background-color: #b36200;
    color: yellow;
    text-align: center;
}

.header{
  text-decoration: none;
}
li{
  text-decoration: none;
  display: inline-block;
}
a{
  text-decoration: none;
  margin: 20px;
  color: black;
}
a:hover{
  border: 10px solid white;
  background: white;
  color: red;
}
.price{
  color: green;
  font-size: 30px;
}


 /*-------------------body menu page-----------------*/

 /*--------------footer-------------------*/
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.h{
    width: 60%;
    height: 200px;
    margin:0 auto
}
h1{
    margin-top: 40px;
    padding-top: 50px;
}
.h{
  color: #217dda;
}
.footer{
    background: #7e5a04;
}
.h{
  text-align: center;
  margin: 30px;
}
.h{
  font-size: 40px;
  margin: 10px;
}
#h{
  font-size: 40px;
  color: #df1c1c;
}
.h{
  text-align: center;
}
#A{
  text-align: center;
  margin-right: 340px;
}



/*------------------------footer---------------------*/
  .logo{
            width: 300px;
            height: 300px;
            top: 0;
            margin-left:40px;
  }
/*-----------------------------------------------ភ្លេីងរត់--------------------------------------------*/
/*-----------------------------------------------ភ្លេីងរត់--------------------------------------------*/
/*-----------------------------------------------ភ្លេីងរត់--------------------------------------------*/
/*-----------------------------------------------ភ្លេីងរត់--------------------------------------------*/
.glow-text {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: relative;
  display: inline-block;
  color: white;
  padding: 20px;
  z-index: 1;
}

.glow-text::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(45deg, red, orange, yellow, green, cyan, blue, violet, red);
  background-size: 400% 400%;
  z-index: -1;
  filter: blur(10px);
  border-radius: 10px;
  animation: glowRun 6s linear infinite;
}

@keyframes glowRun {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*-----------------------------------------------ភ្លេីងរត់--------------------------------------------*/
/*-----------------------------------------------ភ្លេីងរត់--------------------------------------------*/
/*-----------------------------------------------ភ្លេីងរត់--------------------------------------------*/
/*-----------------------------------------------ភ្លេីងរត់--------------------------------------------*/
/*-----------------------------------------------ភ្លេីងរត់--------------------------------------------*/

           



